body {
font-family: 'Segoe UI', sans-serif;
background-color: #1e1e1e;
color: white;
text-align: center;
padding: 50px;
}
h1 {
font-size: 2.5em;
margin-bottom: 20px;
}
.button {
display: inline-block;
background-color: #3a3a3a;
color: white;
padding: 15px 30px;
margin: 10px;
border-radius: 8px;
text-decoration: none;
font-size: 18px;
transition: 0.3s;
}
.Sbutton {
display: inline-block;
background-color: #3a3a3a;
color: white;
padding: 15px 30px;
margin: 10px;
border-radius: 8px;
text-decoration: none;
font-size: 18px;
transition: 0.3s;
}
.button:hover {
background-color: #ff4500;
}
select{
    padding: 8px 12px;
    margin-bottom: 15px;
    font-size: 16px;
    color: tomato;
    background-color: #2e2e2e;
    border: none;
    border-radius: 12px;
    text-align: left;
}
.link {
    display: block;
    margin: 6px 0;
    background-color: #444141;
    padding: 2px;
    border-radius: 24px;
}
